.ui-content-story
    h1 基本信息
    p 
        b 姓名：
        | 毛怡伟
    p 
        b 擅长：
        | Web开发
    p 
        b 昵称：
        | 玩毛线的毛线
    p 
        b 学校：
        | 浙江工业大学
    p 
        b 学历：
        | 本科
    
    

