.ui-content-story
    h1 Feel free to contact me!
    p.contact
        i.iconfont &#xe69e;
        b wechat: 
        | myw19960623
    p.contact 
        i.iconfont &#xe728;
        b qq: 
        | 137308365
    
    p.divider
    p.contact 
        i.iconfont &#xe660;
        a(href="https://www.maoyiwei.top",target="_blank") Blog
    p.contact 
        i.iconfont &#xe605;
        a(href="https://github.com/sanmaopep",target="_blank") Github
    
    p.contact 
        i.iconfont &#xe60c;
        a(href="https://www.douban.com/people/130847043/",target="_blank") Douban
    p.contact 
        i.iconfont &#xe692;
        a(href="https://codepen.io/sanmaopep/",target="_blank") CodePen
    
    p.divider    
    p.contact 
        i.iconfont &#xe77b;
        a(href="./resume.pdf",target="_blank") retrieve PDF

