.ui-content-story
    h1 Some experience

    //------------
    h2 Projects

    h3 Score your TaiChi by Kinect
    p This project can help TaiChi students to score their TaiChi movements automatically, 
        | using Kinect Skelton Technology. 
        | In this project, I raised a new movement scoring algorithm which can get the score as well as the process of your movement. 
        | And I've developed the scoring system based on these algorithm using C#.
    p The movement scoreing algorithm in this project has already appied in 
        | YiJun Ballet Teaching Studio in HangZhou
    p 
        | If you are intersted in this project, you can access source code here: 
        a(href="https://github.com/sanmaopep/kinect-taichi" target="_blank") source code link

    //------------
    h2 Internship

    h3 Nokia HangZhou / 
        span.time 2017.7
    p Visualization of IT skill map, using Sails+React+Redux+D3
    p.ui-exp-img-container 
        img(src="./assets/persona1.jpg")

    h3 Aidigger HangZhou / 
        span.time 2017.9~2018.3
    p Frontend Dev, using React+Dva+Antd

    h3 HarmonyCloud HangZhou / 
        span.time 2018.3~Now
    p Go dev, Frontend dev, AIops

    //------------
    h2 Education
    h3 
    p ZheJiang University (graduate)
    h3 
    p ZheJiang University of Technology (undergraduate)