.ui-content-story
    h1 Experience

    //------------
    h2 Projects

    h3 Score your Tai Chi by Kinect
    p This project can help Tai Chi students to score their Tai Chi movements automatically, 
        | using Kinect Skelton Technology. 
        | In this project, I raised a new movement scoring algorithm which can get the score as well as the process of your movement. 
    p The movement scoring algorithm in this project has already applied in 
        | YiJun Ballet Teaching Studio in HangZhou.

    //------------
    h2 Internship

    h3 Nokia, HangZhou / 
        span.time 2017.7
    p Took part in the development of Nokia employee skill manage system.
    p Using D3 to visualize IT skill map.
    p.ui-exp-img-container 
        img(src="./assets/persona1.jpg")

    h3 Eigen Technology, HangZhou / 
        span.time 2017.9~2018.3
    p Took part in the development of many AI-related systems. 
    p Using React, Redux to build beautiful SPAs.

    h3 Harmony Cloud Technology, HangZhou / 
        span.time 2018.3~Now
    p Took part in the development of DevOps, Container Cloud System. 
    p Learned a little knowledge of kubernetes from this experience.

    //------------
    //- h2 Education
    //- h3 
    //- p ZheJiang University (graduate)
    //- h3 
    //- p ZheJiang University of Technology (undergraduate)