.ui-content-story
    h1 经历

    //------------
    h2 项目

    h3 基于Kinect的太极拳动作评分
    p 该项目使用Kinect骨骼提取技术，可以帮助太极拳训练者进行动作的评分。
        | 在这个项目中, 我提出了一种在动作评分的同时进行进度判断的方法。 
        | 项目中的相关技术已经在杭州艺君芭蕾工作室得到了落地。

    //------------
    h2 实习

    h3 诺基亚杭州研发中心 / 
        span.time 2017.7
    p 参与诺基亚员工技能管理系统研发
    p 使用D3实现知识图谱的可视化
    p.ui-exp-img-container 
        img(src="./assets/persona1.jpg")

    h3 杭州艾耕科技 / 
        span.time 2017.9~2018.3
    p 参与AI相关系统的开发
    p 使用React，Redux开发大量单页应用

    h3 杭州谐云科技 / 
        span.time 2018.3~Now
    p 参与DevOps，容器云相关平台的开发
    p 了解到Kubernetes的相关知识

    //------------
    //- h2 Education
    //- h3 
    //- p ZheJiang University (graduate)
    //- h3 
    //- p ZheJiang University of Technology (undergraduate)