.ui-loading
    #fountainG
        #fountainG_1.fountainG
        #fountainG_2.fountainG
        #fountainG_3.fountainG
        #fountainG_4.fountainG
        #fountainG_5.fountainG
        #fountainG_6.fountainG
        #fountainG_7.fountainG
        #fountainG_8.fountainG